[Desktop Entry]
Categories=Audio;AudioVideo;Qt;
Comment=Play your music collection
Exec=/usr/bin/deepin-music %F
GenericName=Music
Icon=deepin-music
MimeType=audio/musepack;application/musepack;application/x-ape;audio/ape;audio/x-ape;audio/x-musepack;application/x-musepack;audio/x-mp3;application/x-id3;audio/mpeg;audio/x-mpeg;audio/x-mpeg-3;audio/mpeg3;audio/mp3;audio/x-m4a;audio/mpc;audio/x-mpc;audio/mp;audio/x-mp;application/ogg;application/x-ogg;audio/vorbis;audio/x-vorbis;audio/ogg;audio/x-ogg;audio/x-flac;application/x-flac;audio/flac;audio/3gp;audio/imy;audio/midi;audio/xmf;audio/x-wav;application/x-wav;audio/x-ms-wma;application/x-ms-wma;audio/aac;application/aac;audio/ac3;audio/AMR;
Name=Deepin Music
Type=Application
StartupNotify=false
X-Deepin-ManualID=deepin-music
X-Deepin-Vendor=deepin
X-Deepin-TurboType=dtkwidget

# Translations:
# Do not manually modify!
Comment[am_ET]=የእርስዎን የ ሙዚቃ ስብስብ ያጫውቱ
Comment[ar]=تشغيل مجموعة الصوتيات الخاصة بك
Comment[ast]=Reproduz la to coleición de música
Comment[az]=Musiqi kolleksiyavı oxut
Comment[bg]=Изпълнение на Вашата музикална колекция
Comment[bo]=ཁྱེད་ལ་རང་གནས་དང་དྲ་བའི་སྒྲ་ཟློས་རྒྱུན་གཏོང་བ།
Comment[ca]=Reproduïu la col·lecció de música
Comment[cs]=Přehrávejte svoji sbírku zvukových záznamů
Comment[da]=Afspil din musiksamling
Comment[de]=Musik verwalten und abspielen
Comment[el]=Αναπαραγάγετε τη μουσική σας συλλογή
Comment[en_AU]=Play your music
Comment[eo]=Ludi vian muzikojn kolekton
Comment[es]=Reproduce tu colección musical
Comment[es_419]=Reproducir tu colección de música
Comment[fa]=پخش کردن موسیقی های منتخب
Comment[fi]=Toista musiikkikokoelma
Comment[fil]=Magtugtog ng musika
Comment[fr]=Lire votre collection de musique
Comment[gl_ES]=Reproduce a túa colección de música
Comment[he]=נגן את אוסף המוסיקה שלך
Comment[hi_IN]=संगीत संग्रह चलायें
Comment[hr]=Slušajte svoju fonoteku
Comment[hu]=Zenegyűjtemény lejátszása
Comment[hy]=Նվագել ձեր երածշտության հավաքածուն
Comment[id]=Mainkan koleksi musik
Comment[it]=Esegui la tua raccolta musicale
Comment[ja]=音楽コレクションの再生
Comment[ko]=음악 컬렉션 재생
Comment[ku_IQ]=Li koleksiyona xwe ya mûzîkê bixe 
Comment[lt]=Groti savo muzikinę kolekciją
Comment[mn]=Хөгжмийн цуглуулгаа тоглуул
Comment[ms]=Main koleksi muzik anda
Comment[nb]=Spill av din musikksamling
Comment[nl]=Speel je muziekverzameling af
Comment[pl]=Odtwarzaj swoją kolekcję muzyki
Comment[pt]=Reproduzir a sua coleção de música
Comment[pt_BR]=Reproduza sua coleção musical
Comment[ro]=Redă colecția ta de muzică
Comment[ru]=Воспроизведение музыкальной коллекции
Comment[sk]=Prehrávajte svoju zbierku zvukových záznamov
Comment[sl]=Predvajaj svojo glasbeno zbirko
Comment[sr]=Слушајте вашу музичку колекцију
Comment[sv]=Spela din musiksamling
Comment[ta]=உங்கள் இசைத் தொகுப்பை இயக்கவும்
Comment[tr]=Müzik koleksiyonunuzu oynatın
Comment[uk]=Відтворіть твори вашої музичної збірки
Comment[zh_CN]=为您播放本地及网络音频流
Comment[zh_HK]=播放你收藏的音樂
Comment[zh_TW]=播放存於電腦的音樂
GenericName[af]=Musiek
GenericName[am_ET]=ሙዚቃ
GenericName[ar]=موسيقى
GenericName[ast]=Música
GenericName[az]=Musiqi
GenericName[bg]=Музика
GenericName[bn]=মিউজিক
GenericName[bo]=རོལ་མོ། 
GenericName[ca]=Música
GenericName[cs]=Hudba
GenericName[da]=Musik
GenericName[de]=Musik
GenericName[el]=Μουσική
GenericName[en_AU]=Music
GenericName[eo]=Muziko
GenericName[es]=Música
GenericName[es_419]=Música
GenericName[fa]=موسیقی
GenericName[fi]=Musiikki
GenericName[fil]=Musika
GenericName[fr]=Musique
GenericName[gl_ES]=Música
GenericName[he]=מוזיקה
GenericName[hi_IN]=संगीत
GenericName[hr]=Glazba
GenericName[hu]=Zene
GenericName[id]=Musik
GenericName[it]=Music
GenericName[ja]=ミュージック
GenericName[ko]=음악
GenericName[ku_IQ]=Mûzîk
GenericName[lt]=Muzika
GenericName[ml]=സംഗീതം
GenericName[mn]=Хөгжим
GenericName[ms]=Muzik
GenericName[nb]=Musikk
GenericName[ne]=संगीत
GenericName[nl]=Muziek
GenericName[pam]=Musika
GenericName[pl]=Muzyka
GenericName[pt]=Música
GenericName[pt_BR]=Música
GenericName[ro]=Muzică
GenericName[ru]=Музыка
GenericName[sk]=Hudba
GenericName[sl]=Glasba
GenericName[sr]=Музика
GenericName[sv]=Musik
GenericName[ta]=இசை
GenericName[tr]=Müzik
GenericName[ug]=ناخشى قويغۇچى
GenericName[uk]=Музика
GenericName[vi]=Âm nhạc
GenericName[zh_CN]=音乐
GenericName[zh_HK]=音樂
GenericName[zh_TW]=音樂
Name[am_ET]=ዲፕኢን ሙዚቃ
Name[ar]=موسيقى دييبن 
Name[ast]=Música Deepin
Name[az]=Deepin Musiqi
Name[bg]=Deepin Музика
Name[bn]=ডিপিন মিউজিক
Name[bo]=གཏིང་ཟབ་རོལ་མོ། 
Name[ca]=Música del Deepin
Name[cs]=Přehrávání hudby
Name[da]=Deepin musik
Name[de]=Deepin Musik
Name[el]=Μουσική Deepin
Name[en_AU]=Deepin Music
Name[eo]=Deepin Muziko
Name[es]=Reproductor Deepin
Name[es_419]=Reproductor de Música Deepin
Name[fa]=دیپین موزیک
Name[fi]=Deepin Musiikki
Name[fil]=Deepin Music
Name[fr]=Deepin Music
Name[gl_ES]=Música
Name[he]=נגן מוסיקה Deepin
Name[hi_IN]=डीपइन संगीत
Name[hr]=Deepin glazba
Name[hu]=Deepin zenelejátszó
Name[hy]=Deepin Երաժշտական Նվագարկիչ
Name[id]=Musik Deepin
Name[it]=Deepin Music
Name[ja]=Deepin音楽プレイヤー
Name[ko]=Deepin 음악
Name[ku_IQ]=Deepin Mûzîk
Name[lt]=Deepin muzika
Name[mn]=Дээпин Хѳгжи
Name[ms]=Pemain Muzik Deepin
Name[nb]=Deepin Musikk
Name[nl]=Deepin Muziek
Name[pl]=Muzyka Deepin
Name[pt]=Deepin Music
Name[pt_BR]=Música Deepin
Name[ro]= Player-ul muzical Deepin
Name[ru]=Музыкальный проигрыватель Deepin
Name[sk]=Deepin Hudobný prehrávač
Name[sl]=Deepin glasbeni predvajalnik
Name[sr]=Дипин Музика
Name[sv]=Deepin-musik
Name[ta]=டீப்இன் இசை
Name[tr]=Deepin Müzik
Name[ug]=Deepin ناخشى قويغۇچى
Name[uk]=Deepin Музика
Name[vi]=Trình nghe nhạc Deepin
Name[zh_CN]=深度音乐
Name[zh_HK]=Deepin 音樂
Name[zh_TW]=Deepin 音樂

#[X-Next Shortcut Group]
#Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.DeepinMusic /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Next
#Name=Next track
#
## Translations:
## Do not manually modify!
#Name[am_ET]=የሚቀጥለው ተረኛ
#Name[ar]=المسار التالي
#Name[ast]=Pista siguiente
#Name[bg]=Следваща песен
#Name[ca]=Pista següent
#Name[cs]=Další skladba
#Name[da]=Næste spor
#Name[de]=Nächster Titel
#Name[el]=Επόμενο κομμάτι
#Name[es]=Siguiente pista
#Name[es_419]=Pista siguiente
#Name[fa]=قطعه بعدی
#Name[fi]=Seuraava raita
#Name[fr]=Piste suivante
#Name[gl_ES]=Seguinte pista
#Name[he]=הקטע הבא
#Name[hi_IN]=अगला गाना
#Name[hr]=Slijedeći zapis
#Name[hu]=Következő szám
#Name[hy]=Հաջորդը
#Name[id]=Lajur selanjutnya
#Name[it]=Traccia successiva
#Name[ja]=次へ
#Name[ko]=다음 트랙
#Name[ku_IQ]=Strana pêşve
#Name[lt]=Kitas takelis
#Name[mn]=Дараагийн дуу
#Name[ms]=trek seterusnya
#Name[nl]=Volgende nummer
#Name[pl]=Następna ścieżka
#Name[pt]=Faixa seguinte
#Name[pt_BR]=Próxima
#Name[ro]=Melodia următoare
#Name[ru]=Следующая дорожка
#Name[sk]=Ďalšia stopa
#Name[sl]=Naslednja skladba
#Name[sr]=Следећа нумера
#Name[tr]=Sonraki parça
#Name[uk]=Наступний трек
#Name[zh_CN]=下一首
#Name[zh_HK]=下一首歌曲
#Name[zh_TW]=下一曲
#
#[X-PlayPause Shortcut Group]
#Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.DeepinMusic /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause
#Name=Play/Pause track
#
## Translations:
## Do not manually modify!
#Name[am_ET]=ተረኛ ማጫወቻ/ማስቆሚያ
#Name[ar]=تشغيل / إيقاف المسار
#Name[ast]=Reproducir/posar pista
#Name[bg]=Изпълнение/Пауза на записа
#Name[ca]=Reprodueix / pausa la pista
#Name[cs]=Přehrát/Pozastavit skladbu
#Name[da]=Afspil/pause spor
#Name[de]=Titel abspielen/pausieren
#Name[el]=Αναπαραγωγή/Παύση κομματιού
#Name[es]=Reproducir/Pausar pista
#Name[es_419]=Reproducir/Pausar Pista
#Name[fa]=پخش/توقف قطعه
#Name[fi]=Toista/Pysäytä raita
#Name[fr]=Lire / Mettre en pause la piste
#Name[gl_ES]=Reproducir/Pausar pista
#Name[he]=נגן/הפסק קטע
#Name[hi_IN]=गाना प्ले/पौज़ करें
#Name[hr]=Izvodi/pauziraj zapis
#Name[hu]=Szám lejátszása/Szüneteltetése
#Name[hy]=Նվագել/կանգնեցնել
#Name[id]=Mainkan/hentikan lajur
#Name[it]=Play/Pausa
#Name[ja]=再生/一時停止
#Name[ko]=트랙 재생/일시정지
#Name[ku_IQ]=Li stranê bixe/Stranê Bisekinîne
#Name[lt]=Groti/Pristabdyti takelį
#Name[mn]=Дуу Тоглуулах/Түр Зогсоох
#Name[ms]=Main/Jeda trek
#Name[nl]=Nummer afspelen/pauzeren
#Name[pl]=Odtwórz/Wstrzymaj ścieżkę
#Name[pt]=Reproduzir/Pausar faixa
#Name[pt_BR]=Play/Pause
#Name[ro]=Redare/Pauză melodia
#Name[ru]=Воспроизведение/Пауза дорожки
#Name[sk]=Prehrávať/Pozastaviť skladbu
#Name[sl]=Predvajaj/Zaustavi skladbo
#Name[sr]=Пусти/Паузирај нумеру
#Name[tr]=Parçayı oynat/duraklat
#Name[uk]=Відтворити/Призупинити трек
#Name[zh_CN]=暂停/继续
#Name[zh_HK]=播放／暫停曲目
#Name[zh_TW]=播放／暫停
#
#[X-Previous Shortcut Group]
#Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.DeepinMusic /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Previous
#Name=Previous track
#
## Translations:
## Do not manually modify!
#Name[am_ET]=ያለፈው ተረኛ
#Name[ar]=المسار السابق
#Name[ast]=Pista previa
#Name[bg]=Предишна песен
#Name[ca]=Pista anterior
#Name[cs]=Předchozí skladba
#Name[da]=Forrige spor
#Name[de]=Vorheriger Titel
#Name[el]=Προηγούμενο κομμάτι
#Name[es]=Pista anterior
#Name[es_419]=Pista anterior
#Name[fa]=قطعه قبلی
#Name[fi]=Edellinen raita
#Name[fr]=Piste précédente
#Name[gl_ES]=Pista anterior
#Name[he]=הקטע הקודם
#Name[hi_IN]=पिछला गाना
#Name[hr]=Prethodni zapis
#Name[hu]=Előző szám
#Name[hy]=Նախորդը
#Name[id]=Lajur sebelumnya
#Name[it]=Traccia precedente
#Name[ja]=前へ
#Name[ko]=이전 트랙
#Name[ku_IQ]=Strana paşve
#Name[lt]=Ankstesnis takelis
#Name[mn]=Өмнөх дуу
#Name[ms]=trek sebelumnya
#Name[nl]=Vorig nummer
#Name[pl]=Poprzednia ścieżka
#Name[pt]=Faixa anterior
#Name[pt_BR]=Anterior
#Name[ro]=Melodia anterioară
#Name[ru]=Предыдущая дорожка
#Name[sk]=Predchádzajúca stopa
#Name[sl]=Prejšnja skladba
#Name[sr]=Претходна нумера
#Name[tr]=Önceki parça
#Name[uk]=Попередній трек
#Name[zh_CN]=上一首
#Name[zh_HK]=上一首歌曲
#Name[zh_TW]=上一曲

