[project]
	description = deepin-music-player-private
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/snyh (snyh)
[access "refs/for/refs/*"]
	read = group user/snyh (snyh)
	push = group user/snyh (snyh)
	label-Code-Review = -2..+2 group user/snyh (snyh)
	label-Verified = -1..+1 group user/snyh (snyh)
	rebase = group user/snyh (snyh)
	removeReviewer = group user/snyh (snyh)
	submit = group user/snyh (snyh)
[access "refs/heads/*"]
	read = group user/snyh (snyh)
	create = group user/snyh (snyh)
	push = +force group user/snyh (snyh)
	pushMerge = group user/snyh (snyh)
[access "refs/tags/*"]
	push = +force group user/snyh (snyh)
	pushTag = group user/snyh (snyh)
	pushSignedTag = group user/snyh (snyh)
