Source: deepin-music
Section: sound
Priority: extra
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper, pkg-config, qttools5-dev-tools,
 libqt5svg5-dev, qtmultimedia5-dev,
 libtag1-dev, libicu-dev, libcue-dev,
 libavutil-dev, libavformat-dev, libavcodec-dev,
 libdtkgui-dev,libdtkwidget-dev,libkf5codecs-dev,
 libvlc-dev,libvlccore-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org/

Package: deepin-music
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 gstreamer1.0-libav, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good,
 gstreamer1.0-plugins-bad, gstreamer1.0-plugins-ugly, gstreamer1.0-pulseaudio,
 libqt5sql5-sqlite, libqt5multimedia5-plugins, gstreamer1.0-fluendo-mp3,
 gvfs-bin
Description: Music software for UOS
 Music is a local music player with beautiful design and simple functions.
