[Desktop Entry]
Categories=Audio;AudioVideo;Qt;
Comment=Play your music collection
Exec=deepin-music %F
GenericName=Music Player
Icon=deepin-music
MimeType=audio/musepack;application/musepack;application/x-ape;audio/ape;audio/x-ape;audio/x-musepack;application/x-musepack;audio/x-mp3;application/x-id3;audio/mpeg;audio/x-mpeg;audio/x-mpeg-3;audio/mpeg3;audio/mp3;audio/x-m4a;audio/mpc;audio/x-mpc;audio/mp;audio/x-mp;application/ogg;application/x-ogg;audio/vorbis;audio/x-vorbis;audio/ogg;audio/x-ogg;audio/x-flac;application/x-flac;audio/flac;
Name=Deepin Music
Type=Application
X-Deepin-ManualID=deepin-music

# Translations:
# Do not manually modify!
Comment[am]=የእርስዎን የሙዚቃ ስብስብ ያጫውቱ
Comment[am_ET]=የእርስዎን የ ሙዚቃ ስብስብ ያጫውቱ
Comment[ar]=تشغيل مجموعة الصوتيات الخاصة بك
Comment[ast]=Reproduz la to coleición de música
Comment[az]=Musiqi kolleksiyavı oxut
Comment[bg]=Изпълнение на Вашата музикална колекция
Comment[ca]=Reproduïu la col·lecció de música
Comment[cs]=Přehrávejte svoji sbírku zvukových záznamů
Comment[da]=Afspil din musiksamling
Comment[de]=Wiedergeben Ihrer Musikkollektion
Comment[de_DE]=Wiedergeben Ihrer Musikkollektion
Comment[el]=Αναπαραγάγετε τη μουσική σας συλλογή
Comment[el_GR]=Παίξτε τη μουσική συλλογή σας
Comment[en]=Play your music collection
Comment[en_AU]=Play your music
Comment[eo]=Ludi vian muzikojn kolekton
Comment[es]=Reproduce tu colección musical
Comment[es_419]=Reproducir tu colección de música
Comment[es_AR]=Reproducir colección de Música
Comment[es_CL]=Reproduce tu colección de música
Comment[es_ES]=Reproducir Biblioteca de Música
Comment[es_PE]=Reproducir su colección de música
Comment[fa]=پخش کردن موسیقی های منتخب
Comment[fi]=Toista musiikkikokoelma
Comment[fil]=Magtugtog ng musika
Comment[fr]=Lire votre collection de musique
Comment[gl_ES]=Reproduce a túa colección de música
Comment[he]=נגן את אוסף המוסיקה שלך
Comment[hi_IN]=संगीत संग्रह चलायें
Comment[hr]=Slušajte svoju fonoteku
Comment[hu]=Zenegyűjtemény lejátszása
Comment[hy]=Նվագել ձեր երածշտության հավաքածուն
Comment[id]=Mainkan koleksi musik
Comment[id_ID]=Mainkan koleksi musik
Comment[it]=Esegui la tua raccolta musicale
Comment[ja]=音楽コレクションの再生
Comment[ko]=당신의 음악 컬렉션을 재생하세요
Comment[lt]=Groti savo muzikinę kolekciją
Comment[ms]=Main koleksi muzik anda
Comment[nb]=Spill av din musikksamling
Comment[nl]=Speel uw muziekcollectie af
Comment[pl]=Odtwarzaj swoją kolekcję muzyki
Comment[pl_PL]=Odtwórz kolekcję muzyki
Comment[pt]=Reproduzir a sua coleção de música
Comment[pt_BR]=Reproduza sua coleção musical
Comment[pt_PT]=Reproduzir a sua coleção de música
Comment[ro]=Redă colecția ta de muzică
Comment[ru]=Воспроизведение музыкальной коллекции
Comment[sk]=Prehrávajte svoju zbierku zvukových záznamov
Comment[sl]=Predvajaj svojo glasbeno zbirko
Comment[sr]=Слушајте вашу музичку колекцију
Comment[sv]=Spela din musiksamling
Comment[ta]=உங்கள் இசைத் தொகுப்பை இயக்கவும்
Comment[tr]=Müzik koleksiyonunuzu oynatın
Comment[uk]=Відтворіть твори вашої музичної збірки
Comment[zh_CN]=为您播放本地及网络音频流
Comment[zh_HK]=播放你收藏的音樂
Comment[zh_TW]=播放存於電腦的音樂
GenericName[af]=Musiek Speler
GenericName[am_ET]=ሙዚቃ ማጫወቻ
GenericName[ar]=مشغل موسيقى
GenericName[ast]=Reproductor de música
GenericName[az]=Musiqi Oxuducusu
GenericName[bg]=Музикален плеър
GenericName[ca]=Reproductor de música
GenericName[cs]=Hudební přehrávač
GenericName[da]=Musikafspiller
GenericName[de]=Musikabspieler
GenericName[el]=Πρόγραμμα Αναπαραγωγής Μουσικής
GenericName[en_AU]=Music Player
GenericName[eo]=Muzikludanto
GenericName[es]=Reproductor de música
GenericName[es_419]=Reproductor de Audio
GenericName[fa]=پخش کننده موسیقی
GenericName[fi]=Musiikkitoistin
GenericName[fil]=Music Player
GenericName[fr]=Lecteur audio
GenericName[gl_ES]=Reprodutor de música
GenericName[he]=נגן מוזיקה
GenericName[hi_IN]=संगीत चालक
GenericName[hr]=Glazbeni svirač
GenericName[hu]=Zenelejátszó
GenericName[id]=Pemutar Musik
GenericName[it]=Music Player
GenericName[ja]=ミュージックプレーヤー
GenericName[ko]=음악 플레이어
GenericName[lt]=Muzikos grotuvas
GenericName[ml]=മ്യൂസിക് പ്ലെയർ
GenericName[mn]=Дуу тоглуулагч
GenericName[ms]=Pemain Muzik
GenericName[nb]=Musikkspiller
GenericName[nl]=Muziekspeler
GenericName[pl]=Odtwarzacz muzyki
GenericName[pt]=Reprodutor de Música
GenericName[pt_BR]=Reprodutor de músicas
GenericName[ro]=Player muzical
GenericName[ru]=Музыкальный Проигрыватель
GenericName[sk]=Hudobný prehrávač
GenericName[sl]=Glasbeni predvajalnik
GenericName[sr]=Музички Плејер
GenericName[sv]=Musikspelare
GenericName[ta]=இசை இயக்கி
GenericName[tr]=Müzik Oynatıcı
GenericName[uk]=Музичний програвач
GenericName[vi]=Chương trình Chơi nhạc
GenericName[zh_CN]=音乐播放器
GenericName[zh_HK]=音樂播放器
GenericName[zh_TW]=音樂播放器
Name[am]=የሙዚቃ ማጫወቻ
Name[am_ET]=ዲፕኢን ሙዚቃ
Name[ar]=موسيقى دييبن 
Name[ast]=Música Deepin
Name[az]=Deepin Musiqi
Name[bg]=Deepin Музика
Name[bn]=ডিপিন মিউজিক
Name[ca]=Música del Deepin
Name[cs]=Přehrávání hudby
Name[da]=Deepin musik
Name[de]=Deepin Musik
Name[de_DE]=Deepin Musik
Name[el]=Deepin Mουσική
Name[el_GR]=Deepin Αναπαραγωγή Μουσικής
Name[en]=Deepin Music
Name[en_AU]=Deepin Music
Name[eo]=Deepin Muziko
Name[es]=Reproductor Deepin
Name[es_419]=Reproductor de Música Deepin
Name[es_AR]=Reproductor de Música Deepin
Name[es_CL]=Reproductor de música Deepin
Name[es_ES]=Reproductor Deepin
Name[fa]=دیپین موزیک
Name[fi]=Deepin Musiikkitoistin
Name[fil]=Deepin Music
Name[fr]=Deepin Lecteur de Musique
Name[gl_ES]=Música
Name[he]=נגן מוסיקה Deepin
Name[hi_IN]=डीपइन संगीत
Name[hr]=Deepin glazba
Name[hu]=Deepin zenelejátszó
Name[hy]=Deepin Երաժշտական Նվագարկիչ
Name[id]=Musik Deepin
Name[id_ID]=Pemutar Musik Deepin
Name[it]=Deepin Music
Name[ja]=Deepin音楽プレイヤー
Name[ko]=Deepin Music
Name[lt]=Deepin muzika
Name[ms]=Pemain Muzik Deepin
Name[nb]=Deepin Musikk
Name[nl]=Deepin Muziekspeler
Name[pl]=Muzyka Deepin
Name[pl_PL]=Odtwarzacz muzyki Deepin
Name[pt]=Deepin Music
Name[pt_BR]=Deepin Music
Name[pt_PT]=Reprodutor de Música Deepin
Name[ro]= Player-ul muzical Deepin
Name[ru]=Музыкальный проигрыватель Deepin
Name[sk]=Deepin Hudobný prehrávač
Name[sl]=Deepin glasbeni predvajalnik
Name[sr]=Deepin Музика
Name[sv]=Deepin-musik
Name[ta]=டீப்இன் இசை
Name[tr]=Deepin Müzik
Name[uk]=Deepin Музика
Name[vi]=Trình nghe nhạc Deepin
Name[zh_CN]=深度音乐
Name[zh_HK]=Deepin 音樂
Name[zh_TW]=Deepin 音樂

[X-Next-Shortcut-Group]
Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.DeepinMusic /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Next
Name=Next track

# Translations:
# Do not manually modify!
Name[am]=የሚቀጥለውን ተረኛ
Name[am_ET]=የሚቀጥለው ተረኛ
Name[ar]=المسار التالي
Name[ast]=Pista siguiente
Name[bg]=Следваща песен
Name[ca]=Pista següent
Name[cs]=Další skladba
Name[da]=Næste spor
Name[de]=Nächster Titel
Name[de_DE]=Nächster Titel
Name[el_GR]=Επόμενο κομμάτι
Name[en]=Next track
Name[es]=Siguiente pista
Name[es_419]=Pista siguiente
Name[es_AR]=Pista siguiente
Name[es_CL]=Pista siguiente
Name[es_ES]=Siguiente Pista
Name[es_PE]=Pista siguiente
Name[fi]=Seuraava raita
Name[fr]=Piste Suivante
Name[he]=הקטע הבא
Name[hr]=Slijedeći zapis
Name[hu]=Következő szám
Name[hy]=Հաջորդը
Name[id]=Lajur selanjutnya
Name[id_ID]=Jalur selanjutnya
Name[it]=Traccia successiva
Name[ja]=次へ
Name[lt]=Kitas takelis
Name[ms]=trek seterusnya
Name[nl]=Volgende nummer
Name[pl]=Następna ścieżka
Name[pl_PL]=Następny utwór
Name[pt]=Faixa seguinte
Name[pt_BR]=Próxima
Name[pt_PT]=Próxima faixa
Name[ro]=Melodia următoare
Name[ru]=Следующая дорожка
Name[sk]=Ďalšia stopa
Name[sl]=Naslednja skladba
Name[sr]=Следећа нумера
Name[tr]=Sonraki parça
Name[uk]=Наступний трек
Name[zh_CN]=下一首
Name[zh_HK]=下一首歌曲
Name[zh_TW]=下一曲

[X-PlayPause-Shortcut-Group]
Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.DeepinMusic /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause
Name=Play/Pause track

# Translations:
# Do not manually modify!
Name[am]=ተረኛ ማጫወቻ/ማስቆሚያ
Name[am_ET]=ተረኛ ማጫወቻ/ማስቆሚያ
Name[ar]=تشغيل / إيقاف المسار
Name[ast]=Reproducir/posar pista
Name[bg]=Изпълнение/Пауза на записа
Name[ca]=Reprodueix / pausa la pista
Name[cs]=Přehrát/Pozastavit skladbu
Name[da]=Afspil/pause spor
Name[de]=Wiedergeben/Pausieren Titel
Name[de_DE]=Wiedergeben/Pausieren Titel
Name[el_GR]=Αναπαραγωγή / Παύση κομματιού
Name[en]=Play/Pause track
Name[es]=Reproducir/Pausar pista
Name[es_419]=Reproducir/Pausar Pista
Name[es_AR]=Reproducir/Pausar pista
Name[es_CL]=Reproducir / Pausar pista
Name[es_ES]=Play/Pause Pista
Name[es_PE]=Reproducir/Pausar pista
Name[fi]=Toista/Pysäytä raita
Name[fr]=Lire/Pause le fichier
Name[he]=נגן/הפסק קטע
Name[hr]=Izvodi/pauziraj zapis
Name[hu]=Szám lejátszása/Szüneteltetése
Name[hy]=Նվագել/կանգնեցնել
Name[id]=Mainkan/hentikan lajur
Name[id_ID]=Main/Jeda track
Name[it]=Play/Pausa
Name[ja]=再生/一時停止
Name[lt]=Groti/Pristabdyti takelį
Name[ms]=Main/Jeda trek
Name[nl]=Nummer afspelen/pauzeren
Name[pl]=Odtwórz/Wstrzymaj ścieżkę
Name[pl_PL]=Odtwórz/Wstrzymaj utwór
Name[pt]=Reproduzir/Pausar faixa
Name[pt_BR]=Play/Pause
Name[pt_PT]=Reproduzir/Pausar faixa
Name[ro]=Redare/Pauză melodia
Name[ru]=Воспроизведение/Пауза дорожки
Name[sk]=Prehrávať/Pozastaviť skladbu
Name[sl]=Predvajaj/Zaustavi skladbo
Name[sr]=Пусти/Паузирај нумеру
Name[tr]= Parçayı Oynat/Duraklat
Name[uk]=Відтворити/Призупинити трек
Name[zh_CN]=暂停/继续
Name[zh_TW]=播放／暫停

[X-Previous-Shortcut-Group]
Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.DeepinMusic /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Previous
Name=Previous track

# Translations:
# Do not manually modify!
Name[am]=ቀደም ያለው ተረኛ
Name[am_ET]=ያለፈው ተረኛ
Name[ar]=المسار السابق
Name[ast]=Pista previa
Name[bg]=Предишна песен
Name[ca]=Pista anterior
Name[cs]=Předchozí skladba
Name[da]=Forrige spor
Name[de]=Vorheriges Titel
Name[de_DE]=Vorheriges Titel
Name[el_GR]=Προηγούμενο κομμάτι
Name[en]=Previous track
Name[es]=Pista anterior
Name[es_419]=Pista anterior
Name[es_AR]=Pista anterior
Name[es_CL]=Pista anterior
Name[es_ES]=Anterior Pista
Name[es_PE]=Pista anterior
Name[fi]=Edellinen raita
Name[fr]=Piste précédente
Name[he]=הקטע הקודם
Name[hr]=Prethodni zapis
Name[hu]=Előző szám
Name[hy]=Նախորդը
Name[id]=Lajur sebelumnya
Name[id_ID]=Jalur sebelumnya
Name[it]=Traccia precedente
Name[ja]=前へ
Name[lt]=Ankstesnis takelis
Name[ms]=trek sebelumnya
Name[nl]=Vorige nummer
Name[pl]=Poprzednia ścieżka
Name[pl_PL]=Poprzedni utwór
Name[pt]=Faixa anterior
Name[pt_BR]=Anterior
Name[pt_PT]=Faixa anterior
Name[ro]=Melodia anterioară
Name[ru]=Предыдущая дорожка
Name[sk]=Predchádzajúca stopa
Name[sl]=Prejšnja skladba
Name[sr]=Претходна нумера
Name[tr]=Önceki parça
Name[uk]=Попередній трек
Name[zh_CN]=上一首
Name[zh_HK]=上一首歌曲
Name[zh_TW]=上一曲

